<form [formGroup]="newBetForm" (ngSubmit)="addBetAndClose()">
  <div class="row">
    <mat-form-field class="col s6">
      <mat-label>House</mat-label>
      <mat-select formControlName="houseCtrl">
        <mat-option value="1">Caliente</mat-option>
        <mat-option value="2">Codere</mat-option>
        <mat-option value="3">Play Do It</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col s6">
      <mat-label>Sport</mat-label>
      <mat-select formControlName="sportCtrl">
        <mat-option value="1"><i class="fas fa-futbol"></i> Soccer</mat-option>
        <mat-option value="2"><i class="fas fa-baseball-ball"></i> Baseball</mat-option>
        <mat-option value="3"><i class="fas fa-football-ball"></i> Football</mat-option>
        <mat-option value="4"><i class="fas fa-basketball-ball"></i> Basketball</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col s6">
      <mat-label>Team 1</mat-label>
      <input matInput type="text" formControlName="team1Ctrl">
    </mat-form-field>
    <mat-form-field class="col s6">
      <mat-label>Team 2</mat-label>
      <input matInput type="text" formControlName="team2Ctrl">
    </mat-form-field>
    <mat-form-field class="col s12">
      <mat-label>Tipo</mat-label>
      <input matInput type="text" formControlName="typeCtrl">
    </mat-form-field>
    <mat-form-field class="col s6">
      <input matInput [matDatepicker]="eventDate" placeholder="Fecha de evento" formControlName="eventDateCtrl">
      <mat-datepicker-toggle matSuffix [for]="eventDate"></mat-datepicker-toggle>
      <mat-datepicker #eventDate></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="col s6">
      <mat-label>Hora</mat-label>
      <input matInput [ngxTimepicker]="timeDate" [format]="24" readonly formControlName="timeDateCtrl">
      <ngx-material-timepicker #timeDate></ngx-material-timepicker>
    </mat-form-field>
    <mat-form-field class="col s6 l4">
      <mat-label>Momio</mat-label>
      <button mat-icon-button matPrefix tabindex="-1" (click)="momioSign = !momioSign">
        <mat-icon>{{momioSign ? 'add' : 'remove'}}</mat-icon>
      </button>
      <input #momioModel matInput type="number" [(ngModel)]="momio" [ngModelOptions]="{standalone: true}" required>
    </mat-form-field>
    <mat-form-field class="col s6 l4">
      <mat-label>Amount</mat-label>
      <button mat-icon-button matPrefix tabindex="-1">
        <mat-icon>attach_money</mat-icon>
      </button>
      <input #amountModel matInput type="number" [(ngModel)]="amount" [ngModelOptions]="{standalone: true}" required>
    </mat-form-field>
    <mat-form-field class="col s12 l4">
      <mat-label>Profit</mat-label>
      <button mat-icon-button matPrefix tabindex="-1">
        <mat-icon>attach_money</mat-icon>
      </button>
      <input matInput type="number" [value]="momioSign | getProfit: momio: amount" readonly>
    </mat-form-field>
    <button class="col s12" mat-raised-button color="accent" type="submit"
      [disabled]="!newBetForm.valid">Add</button>
  </div>
</form>