<div class="container">
  <div class="row">
    <h1 mat-dialog-title>Apuestas abiertas</h1>
  </div>
  <div class="row">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <i class="fas fa-futbol"></i><b class="bet-title">México vs USA</b>
          </mat-panel-title>
          <mat-panel-description class="flex-container flex-around">
            <span class="flex-child" matTooltip="Momio">-149</span>
            <span class="flex-child" matTooltip="Monto">$100</span>
            <span class="flex-child" matTooltip="Ganancia">$167</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <section class="flex-container flex-between">
          <p class="flex-child">Se clasifica <b>México</b></p>
          <p class="flex-child" matTooltip="Fecha de evento" matTooltipPosition="left">07/07/2019 • 20:00 <i class="far fa-calendar"></i></p>
        </section>
        <section class="flex-container flex-between">
          <p class="flex-child">Play Do It</p>
          <p class="flex-child" matTooltip="Fecha de apuesta" matTooltipPosition="left">07/07/2019 • 17:23 <i class="far fa-calendar-check"></i></p>
        </section>
      </mat-expansion-panel>
    </mat-accordion>

  </div>
</div>

<button mat-fab class="float-button" (click)="addBet()"><mat-icon>add</mat-icon></button>
<br><br>
<button mat-raised-button (click)="signIn()">
  <img src="assets/google.png" alt="Google" width="20" height="20">
  Iniciar sesión con Google
</button>
