.nav {
  position: fixed;
  top: 0;
  z-index: 100;
  border-radius: 2px;
  box-shadow: 0px 1px 10px black;
}

.spacer {
  flex: 1 1 auto;
}

.logo {
  margin-right: 13px;
}

.logo-router {
  cursor: pointer;
  outline: none;
}

.main {
  margin-top: 80px;
}