<ngx-loading-bar color="crimson"></ngx-loading-bar>
<mat-toolbar color="primary" class="nav">
  <mat-toolbar-row>
    <img routerLink="/home" class="logo-router logo" src="assets/logo.png" alt="Bettings" width="40" height="40">
    <span routerLink="/home" class="logo-router">Bettings</span>
    <span class="spacer"></span>
    <div *ngIf="!mobileQuery.matches">
      <button mat-flat-button color="primary" routerLink="/houses">Houses</button>
      <button mat-flat-button color="primary" routerLink="/history">Record</button>
      <button mat-flat-button color="primary" routerLink="/capital">Capital</button>
      <button mat-flat-button color="primary" routerLink="/bank">Bank</button>
    </div>
    <button mat-icon-button *ngIf="mobileQuery.matches" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/houses">
        <mat-icon>location_city</mat-icon>
        <span>Houses</span>
      </button>
      <button mat-menu-item routerLink="/history">
        <mat-icon>history</mat-icon>
        <span>Record</span>
      </button>
      <button mat-menu-item routerLink="/capital">
        <mat-icon>trending_up</mat-icon>
        <span>Capital</span>
      </button>
      <button mat-menu-item routerLink="/bank">
        <mat-icon>account_balance</mat-icon>
        <span>Bank</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<main class="main">
  <router-outlet></router-outlet>
</main>